.header{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.nombre{
    font-size: 1rem;
}

.logo__nombre{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo{
    width: 2rem;
    margin: 0 1.5rem 0 8rem;
}

.menu{
    display: flex;
    margin: 1.5rem 8rem;
}

.menu__item{
    list-style: none;
    margin-right: 1.75rem;
}

.menu__item:nth-child(6){
    font-weight: bold;
    margin-right: 0rem;
}

.menu__link{
    text-decoration: none;
}

@media (min-width: 768px) and (max-width: 1180px){
    .logo{
        margin: 0 1.5rem 0 2rem;
    }
    .menu{
        margin: 1.5rem 1rem;
    }
    .menu__item:nth-child(1){
        display: none;
    }
    .menu__item:nth-child(2){
        display: none;
    }
    .menu__item:nth-child(3){
        display: none;
    }
    .menu__item:nth-child(4){
        display: none;
    }
    .menu__item:nth-child(5){
        display: none;
    }
}

@media(max-width: 768px){
    .logo{
        margin: 0 .75rem 0 1rem;
    }
    .menu{
        margin: 1.5rem 1rem;
    }
    .menu__item:nth-child(1){
        display: none;
    }
    .menu__item:nth-child(2){
        display: none;
    }
    .menu__item:nth-child(3){
        display: none;
    }
    .menu__item:nth-child(4){
        display: none;
    }
    .menu__item:nth-child(5){
        display: none;
    }
}