.header{
    display: flex;
    justify-content: space-between;
    margin: 0 10rem;
}

.nombre{
    font-size: 1rem;
}

.logo__nombre{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo{
    width: 2rem;
    margin-right: 1.5rem;
}

.menu{
    display: flex;
}

.menu__item{
    list-style: none;
}

.menu__item:nth-child(6){
    font-weight: bold;
}

.menu__link{
    text-decoration: none;
    margin-right: 1.75rem;
}