.skills__hobbies{
    width: 100%;
}

.skills__hobbies p{
    color: #464646;
    font-size: 1rem;
    font-weight: 700;
}

.tarjetas{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 2rem 8rem 0;
}

.skills__hobbies__titulo{
    color: #464646;
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
}

.skills__hobbies__list{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 0 5.5rem 0;
}

.skills__hobbies__item{
    display: flex;
    width: 11rem;
    height:10.875rem;
    padding: .5rem;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 0.5rem;
    background: #FFFFFF;
}

.skills__hobbies__logo{
    width: 2rem;
}

@media (min-width: 768px) and (max-width: 1180px){
    .tarjetas{
        padding: 2rem 2rem 0 2rem;
    }
    .skills__hobbies__list{
        padding: 0;
    }
    .skills__hobbies__titulo{
        text-align: center;
        font-size: 1.375rem;
        font-weight: 700;
    }
    .skills__hobbies__item{
        width: 13rem;
        height: 7.375rem;
        padding: 1rem;
        margin-bottom: 3rem;
        gap: 1rem;
    }
}
@media (max-width: 768px){
    .tarjetas{
        padding: 1rem 1rem 0 1rem;
    }
    .skills__hobbies__list{
        padding: 0;
    }
    .skills__hobbies__titulo{
        text-align: center;
        font-size: 1.375rem;
        font-weight: 700;
    }
    .skills__hobbies__item{
        width: 8.75rem;
        height: 7.375rem;
        padding: 1rem;
        margin-bottom: 1rem;
        gap: 1rem;
    }
}
